*{
    border: 0px;
    margin: 0px;
    padding: 0px;
font-family: monospace;
}
*{
    user-select: none;
}
#Time{
     
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
 min-width: 100px;

}
h1{
    font-size: 20vw;
}

 

/*
    background-image: linear-gradient(100deg, #c000f2,#f0002f);
